@using Shared
@model List<Event>

@{
    ViewData["Title"] = "My Events";
}

<h2>My Events</h2>


<div class="container">
    <div class="row">
        <div class="col-6">
            <h6>Upcoming Events</h6>
            @foreach (var eventItem in Model)
            {
                if (eventItem.Date > DateTime.Now)
                {
                    <ul><li>
                        <a asp-action="ViewEvent" asp-controller="Event" asp-route-id="@eventItem.EventId">@eventItem.Title</a>
                        <a asp-action="EditEvent" asp-controller="Event" asp-route-id="@eventItem.EventId">
                            <span class="material-symbols-outlined">edit_note</span>
                        </a>
                        <a asp-action="DeleteEvent" asp-controller="Event" asp-route-id="@eventItem.EventId">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                    </li></ul>
                }
            }
        </div>
        <div class="col-6">
            <h6>Previous Events</h6>
            @foreach (var eventItem in Model)
            {
                if (eventItem.Date < DateTime.Now && eventItem.Type == "Public")
                {
                    <ul><li><a asp-action="ViewEvent" asp-controller="Event" asp-route-id="@eventItem.EventId">@eventItem.Title</a></li></ul>
                }
            }
        </div>
    </div>
</div>